
#dragAndDrop {
  min-height: 300px;
  border: 5px dotted rgb(39, 132, 176);
  margin: 2em 0.5em;
}

#fileInput {
  display: inline-block;
}

#dragAndDrop h2 {
  padding: 3em;
}

.bg-dayone {
  background-color: rgb(39, 132, 176);
  color: #fff;
}

.text-dayone {
  color: rgb(39, 132, 176);
}

.margin-bottom-none {
  margin-bottom: 0;
}

.do-entry {
  margin-top: 1em;
  margin-bottom: 2em;
}

.do-entry-date {
  font-size: 0.9em;
  color: #999;
}

.do-entry-photo {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.do-entry-photo + .do-entry-text {
  padding-top: 1em;
}

.do-entry-text {
  page-break-inside:avoid;
}

.do-entry-text p:first-child {
  margin-top: 0;
}

.do-entry-text > p:first-child:first-line {
  font-size: 1.3em;
  line-height: 1.5em;
}
