#dragAndDrop {
  min-height: 300px;
  border: 5px dotted rgb(39, 132, 176);
  margin: 2em 0.5em;
}

#fileInput {
  display: inline-block;
}

#dragAndDrop h2 {
  padding: 3em;
}

.bg-dayone {
  background-color: rgb(39, 132, 176);
  color: #fff;
}

.bg-dayone small {
  color: #fff;
}

.text-dayone {
  color: rgb(39, 132, 176);
}

.margin-bottom-none {
  margin-bottom: 0;
}

#dayOneRenderTarget {
  margin-top: 1em;
}

.do-entry {
  margin-top: 1em;
  margin-bottom: 2em;
  page-break-inside:avoid;
  font-size: 1.2em;
}

.do-entry:first-child {
  margin-top: 0;
}

.do-entry-date {
  margin-bottom: 1em;
  font-size: 0.7em;
  text-transform: uppercase;
  color:#399FC3;
}

.do-entry-photo {
  display: block;
  max-width: 100%;
  max-height: 760px;
  margin: 0 auto 1em;
}

.do-entry-photo-loading {
  border: 1px solid #eee;
  background-color: #efefef;
  color: #555;
  width: 100%;
  padding: 10%;
  text-align: center;
}

.do-entry-text p:first-child {
  margin-top: 0;
}

.do-entry-text p:first-child:not(:only-child) {
  font-size: 1.2em;
  font-weight: 400;
}

.do-entry-tags {
  font-size: 0.8em;
  color: #555;
}

.progress-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;
  background-color: rgba(255, 255, 255, .9);
}
.progress-overlay > div {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 10%;
  text-align: center;
  font-size: 4em;
  transform: translateY(-50%);
}

@media print {
  #dayOneRenderTarget {
    margin-top: 0;
  }
}
